$linkColor:  rgb(30, 19, 37);

#child {
    padding: 10px;
}

ul li {
    display: inline;
    margin: 3px;
}

ul li a {
    text-decoration: none;
    color: $linkColor;
}

ul li:hover {
    text-decoration: underline;
}

#form {
    text-align: center;
    padding: 150px;
}

.SearchBar {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: 583px;
    max-width: 584px;
    margin-top: 30px;
}

.searchButton {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.Advanced {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.line {
    border-bottom: 1px solid #ebebeb;
}

.findPagesWith {
    font-size: 16px;
    color: #333333;
    
}

.div-advance {
    margin: 40px;
}

.div-FindPages {
    margin: 50px;
}

.the-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.left {
    width: 200px;
}

.form-control1 {
    width: 385px;
    border: 1px solid black;
}

.right {
    width: 500px;
}

.p-the-row {
    font-size: 13px;
    vertical-align: middle;
}

.Advanced-btn {
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    color: #fff;
}

.button-div {
    display: flex;
    justify-content: end;
    width: 585px;
    margin-top: 30px;
}